extends layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
  
block content 
   main
      if prods.length <= 0
        h2 No Products Found
      else
        .card
      .grid
        each product in prods
          article.card.product-item 
            header.card__header 
              h1.product__title #{product.title}
            div.card__image
              img(src="/images/#{product.imageUrl}", alt="#{product.title}")
            div.card__content
              h2.product__price $10.99
              p.product__description dummy description
            div.card__actions

