<html>
	<head>
		<title>My Website</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<header>
			<h1>Welcome to My Website</h1>
		</header>
		<nav>
			<ul>
				<li><a href="/">Shop</a></li>
				<li><a href="/admin/add-product">Add product</a></li>
			</ul>
		</nav>
		<main>
		</main>
		<footer>
			&copy; 2022 My Website. All rights reserved.
		</footer>
	</body>
</html>